.navigation {
  margin: 50px 5px 5px 5px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
}

.sidenav-menu-button {
  position: absolute;
  top: 5px;
  left: 5px;
}

.page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
